@import "../vars";

.footer-top__item:first-child {
	margin-right: 15px;
	padding-right: 25px;
	position: relative;

	::after {
		position: absolute;
		content: "/";
		right: -3px;
		top: 0;
		color: $white;
	}

	@media screen and (max-width: 540px) {
		margin-right: 5px;
		padding-right: 15px;
	}
}
