@font-face {
  font-family: 'asap';
  src: url('../assets/fonts/asap/Asap-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'asap1';
  src: url('../assets/fonts/asap/Asap-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'asap2';
  src: url('../assets/fonts/asap/Asap-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
